.container {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid rgba(27 , 27, 27, 0.5);
}

.productImage {
  width: 85px;
}

.productImage img {
  width: 100%;
}

.productInfo {
  flex: 1;
  margin-left: 19px;
}

.productInfo .productCategory {
  font-size: 12px;
  font-weight: 400;
  color: rgba(27 , 27, 27, 0.5);
}

.productInfo .productName {
  font-size: 16px;
  font-weight: 500;
  color: #1B1B1B;
  margin-top: 4px;
  margin-bottom: 2px;
}

.productInfo .productPrice {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.qtArea {
  margin-right: 26px;
}

.qtTitle {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  margin-bottom: 2px;
}

.qtCount {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #F2F4F5;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}